.LoadingScreen {
    position: fixed;
    top: 63px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% - 63px);
}

.icon {
    width: 90px;
    height: 90px;

    border-radius: 50%;
    border: 10px solid #ffffff69;
    border-top: 10px solid #ff3705;

    animation: iconAnimation 1s linear infinite;
}

@keyframes iconAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
