.SignUpForm {
    position: relative;
    top: -100%;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% + 20px);

    opacity: 0;

    transition: left .5s, opacity .5s;
}

.SignUpForm .background {
    width: 50%;
    height: calc(100% - 40px);

    filter: drop-shadow(5px 10px 10px #050505);
}

.SignUpForm .background .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    padding: 0 10px;
    width: calc(100% - 20px);
    height: 100%;

    background-color: #cdff9b;

    clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 50px, 100% 100%, 50px 100%, 0 calc(100% - 50px));
}

.SignUpForm .box input {
    margin: 0 0 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
    height: 23px;

    font-family: monospace;
    font-size: 1.25rem;

    border: none;
    outline: none;
    border-radius: 20px;
}

.SignUpForm .box .button__box {
    width: 100%;
}
.SignUpForm .box button {
    float: left;

    margin: 0 0 0 10px;

    width: calc(50% - 5px)
}

.SignUpForm .box button:first-of-type {
    margin: 0;
}

@media screen and (max-width: 1080px) {
    .SignUpForm .background {
        width: calc(100% - 40px);
    }
    .SignUpForm .box button {
        font-size: 1rem;
    }
}
