@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Ultra&display=swap');

:root {
  --fontSizeS: 1rem;
  --fontSizeM: 1.5rem;
  --fontSizeL: 2rem;
  --fontSizeX: 3rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #69ff37;
}

body {
  margin: 0;
}
