::-webkit-scrollbar {
  width: 20px;

  background-image: linear-gradient(#69cd37 25%, #fff 25%, #fff 50%, #69cd37 50%, #69cd37 75%, #fff 75%, #fff 100%);
}

::-webkit-scrollbar-thumb {
  background-color: #69ff37;
}

body {
  margin: 0;
}
